﻿<!DOCTYPE html>
<!--

    Developed By : Saad Bin Shahid


    Technologies: HTML5, CSS3, Bootstrap 3, Angular JS or JQuery.
    Source code available @ http://www.bitbucket.saadbinshahid.com/saadbinshahid.com


    Version : 1.4
    Update Description: Implemented ng-class; the proper way to have dynamic classes.

    Version : 1.3
    Update Description: Added action narration, added ng-repeat to specializations & credits.


    Version : 1.2
    Update Description: Optimized performance & removed unused libraries.


    Version : 1.1
    Update Description: Using Angular.JS


    Version : 0.1
    Release : 1




     -->


<html lang="en" ng-app="saadwebapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="assets/js/bootstrap.min.js"></script>
    <meta name="description" content="Saad Bin Shahid - Personal Website.">
    <meta name="author" content="Saad Bin Shahid - Geeky Engineer !">
    <link rel="icon" href="assets/img/favicon.ico">
    <title>Saad - Geeky Engineer</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59669387-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body ng-controller="dataController as ctrl">
    <div id="h">
        <div class="logo">
            <h2>Geeky Engineer <i class="ion-university"></i></h2>
        </div>
        <div class="container centered">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Hello, my name is <b>Saad Bin Shahid</b>.<br />I'm a Software Engineer.</h1>
                </div>
            </div>
            <div class="row mt" ng-repeat="item in ctrl.data">
                <div class="col-sm-4" ng-repeat="spec in item.specStack">
                    <div>
                        <i ng-class="spec.icon"></i>
                        <h3>{{ spec.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ptb">
        <div class="row">
            <h2 class="centered mb">I craft smart data-driven solutions<br />that empower your business. </h2>
            <div class="col-md-6">
                <p>I love what I do; Engineering and can't get enough of it. I'm an energetic, self-motivated team-player, with a passion to learn and adapt new technologies. Highly adaptable in quickly changing technical environments with very strong organizational and analytical skills.</p>
            </div>
            <div class="col-md-6">
                <p>Experienced in Engineering smart solutions, all layers, from database to services to user interfaces. Analysis and design of databases and user interfaces. Managing requirements and supporting multiple projects. </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img ng-src="assets/img/items.png" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <div id="g">
        <div class="container mt clients centered" ng-repeat="item in ctrl.data">
            <span ng-repeat="tech in item.techStack">
                <img ng-src="{{ tech.src }}" alt="">
            </span>
        </div>
    </div>
    <div id="f">
        <div class="container">
            <div class="row centered">
                <div class="col-md-8 col-md-offset-2" ng-repeat="item in ctrl.data">
                    <span ng-repeat="contact in item.contactStack">
                        <a ng-href="{{ contact.href }}"><i ng-class="contact.icon"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div id="c" class="col-md-12 centered" ng-repeat="item in ctrl.data">
            Developed using
            <span ng-repeat="credit in item.credits">
                <a href="{{ credit.href }}">{{ credit.name }}</a>,
            </span>
            and other open source stuff...
        </div>
    </div>


    <!-- ================================================== -->
    <script src="assets/js/jquery.min.js"></script>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/icons/font-mfizz.css">
    <link rel="stylesheet" href="assets/icons/size.css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="assets/app/angular.min.js"></script>
    <script src="assets/app/app.js"></script>

</body>
</html>

